head  
  link(type='text/css', rel='stylesheet', href='/style/bootstrap.min.css', media='screen')
  link(type='text/javascript', rel='javascript', href='/script/bootstrap.min.js')

  link(type='text/css', rel='stylesheet', href='/style/style.css')
  link(type='text/javascript', rel='javascript', href='/script/script.js')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title #{title}

