head  
  link(type='text/css', rel='stylesheet', href='/style/bootstrap.min.css', media='screen')
  script(type='text/javascript', src='/script/bootstrap.min.js')
  script(type='text/javascript', src='socket.io/socket.io.js')
  script(type='text/javascript', src='script/script.js')
  link(type='text/css', rel='stylesheet', href='/style/style.css')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title #{title}

