!!! 5
html(lang='en') 
  include head

  body
    div(class='navbar navbar-inverse navbar-fixed-top')
      div(class='navbar-inner')
        div(class='container')
          div(class='nav-collapse collapse')
            ul(class='nav')
              li
                a(href='/') Home
              li
                a(href='https://www.github.com/mv945/tiny') Source Code
              li
                a(href='/developers') Developers
              li
                a(href='/faq') FAQ
              li(class='active')
                a(href='/stats') Stats
              li
                a(href='/contact') Contact


    div(class='container')
      ul
        li Hello World
    
    include footer
